*{
    margin: 0px;
    padding: 0px;
}
/*.body{
    border: 2px solid;
    height: 800px;
    width: 75%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header,.nav,.footer{
    margin: 10px;
    border: 2px solid;
    height: 90px;
    width: 97.5%;
}
.half{
    height: 400px;
    width: 100%;
    margin-bottom: 13px;
}
.half1{
    margin: 0px 10px;
    height: 400px;
    width: 60%;
    display: ;
}
.section{
    border: 2px solid;
    margin-bottom: 10px;
    height: 190px;
    width: 100%;
    background-color: #fc0707cc;
    display: inline-block;
    
}
.article{
    border: 2px solid;
    height: 190px;
    width: 100%;
    background-color: greenyellow;
    display: inline-block;
    
}
.half2{
    height: 398px;
    width: 36%;
    display: inline-block;
}
.aside{
    border: 2px solid;
    height: 398px;
    width: 100%;
    background-color: mediumslateblue;
    display: inline-block;
} */

.main{
    border: 2px solid;
    height: 800px;
    width: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-content: center;
}