*{
    margin: 0px;
    padding: 0px;
}
.box{
    margin: 20px;
}
.head{
    border: 2px solid;
    background-color: bisque;
    width: 100%;
    height: 100px;
    text-align: center;
    align-content: center;
}
.navi{
    border: 2px solid;
    background-color: gold;
    width: 100%;
    height: 100px;
    text-align: center;
    align-content: center;
}
.mid{
    background-color: aquamarine;
    width: 100%;
    height: 400px;
    display: inline-block;
}
.index{
    border: 2px solid;
    background-color: gray;
    height: 400px;
    width: 20%;
    display: inline-block;
    text-align: center;
    align-content: center;
}
.content{
    border: 2px solid;
    background-color: darkolivegreen;
    width: 79%;
    height: 400px;
    display: inline-block;
    text-align: center;
    align-content: center;
}
.foot{
    border: 2px solid;
    background-color: greenyellow;
    width: 100%;
    height: 100px;
    text-align: center;
    align-content: center;
}